.row
    //width-ширина отступов от розовых колонок(1440рх-150рх*2=1140рх=114rem)
    max-width: 114rem
    // background: #ed7979
    margin: 0 auto
    @include clearfix
    &:not(:last-child)
        margin-bottom: $margin-vertical-big
    
[class^="col-"]
    &:not(:last-child)
        margin-right: $margin-horisontal
    // background: #5fee66
    float: left

.col-1-of-2
    width: calc(( 100% - #{$margin-horisontal}) / 2)
  

.col-1-of-3
    width: calc(( 100% - 2 * #{$margin-horisontal}) / 3)

.col-2-of-3
    width: calc(2 * (( 100% - 2 * #{$margin-horisontal}) / 3) +  #{$margin-horisontal})

.col-1-of-4
    width: calc(( 100% - 3 * #{$margin-horisontal}) / 4)

.col-2-of-4
    width: calc(2 * (( 100% - 3 * #{$margin-horisontal}) / 4) +  #{$margin-horisontal})

.col-3-of-4
    width: calc(3 * (( 100% - 3 * #{$margin-horisontal}) / 4) + 2 * #{$margin-horisontal})